---
import { createReader } from "@keystatic/core/reader";
import keystaticConfig from "../../keystatic.config";

const reader = createReader(process.cwd(), keystaticConfig);
const settings = await reader.singletons.settings.read();

const currentYear = new Date().getFullYear();
---

<footer id="contacts" class="bg-gray-900 text-gray-500 py-4 text-xs border-t border-gray-800">
  <div
    class="container mx-auto px-4 md:px-6 flex flex-col items-center gap-2">
    <p>
      © {currentYear}
      {settings?.company_name || "Бюро инженерно-строительных консультаций"}. Все права защищены.
    </p>
  </div>
</footer>